{% extends "base.njk" %}

{% block mainClass %}overflow-hidden{% endblock %}

{% block content %}
  {% include "sections/hero.njk" %}
  {% include "sections/mission.njk" %}
  {% include "sections/publications.njk" %}
  {% include "sections/programs.njk" %}
  {% include "sections/team.njk" %}
  {% include "sections/news.njk" %}
  {% include "sections/about.njk" %}
  {% include "sections/support.njk" %}
{% endblock %}
